<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, 
                   initial-scale=1.0"
        />
        <title>E-wallet</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <div class="container">
            <h1>E-wallet Service</h1>
            <!-- <a href="/dashboard">Dashboard</a> -->

            <form action="/user" method="POST">
                <label for="">Nama</label>
                <input type="text" name="name" id="name" />
                <label for="">Username</label>
                <input type="text" name="username" id="username" />
                <label for="">Password</label>
                <input type="password" name="password" />

                <button type="submit">Create</button>
            </form>
        </div>
    </body>
</html>
